<div>
    <div
            layout="row" layout-align="center center"
            layout-margin layout-padding
            layout-wrap>
        <form name="LoginForm">
            <md-input-container layout="row" class="no-margin">
                <label>Email</label>
                <input required name="email" type="email"
                       ng-model="login.user.email">
            </md-input-container>
            <md-input-container layout="row" >
                <label>Password</label>
                <input name="password" required
                       ng-model="login.user.password" type="password">
            </md-input-container>
            <div layout="row" layout-align="center center" >
                <md-button flex="30"  class="md-raised  md-primary" type="submit"
                           ng-click="login.login(login.user)"
                           ng-disabled="LoginForm.$invalid">
                    Log in
                </md-button>
                <md-button flex="60"  class="md-raised  md-primary"
                           ng-click="login.goCreateAccPage()">
                    New Account
                </md-button>
            </div>
        </form>
    </div>
</div>